<robot name="062_dice">
	<link name="_name">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="062_dice/google_16k/textured.obj" scale="4 4 4" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="062_dice/google_16k/textured_vhacd.obj" scale="4 4 4" />
			</geometry>
		<origin xyz="0 0 0" rpy="0 0 0" /></collision>
		<inertial>
			<density value="567.0"/>
		</inertial>
	</link>
</robot>